@model Friend

<html>
<head>

</head>

<body>
    <h1></h1>
    <form method="post" enctype="multipart/form-data" asp-action="InsertNewFriend">
        <div asp-validation-summary="All"></div>
        <div class="form-field">
            <label asp-for="FriendID"></label>
            <input asp-for="FriendID" />
            <span asp-validation-for="FriendID"></span>
        </div>
        <div class="form-field">
            <label asp-for="FriendName"></label>
            <input asp-for="FriendName" />
            <span asp-validation-for="FriendName"></span>
        </div>
        <div class="form-field">
            <label asp-for="Place"></label>
            <input asp-for="Place" />
            <span asp-validation-for="Place"></span>
        </div>
        <div>
            <input type="submit" value="Submit"/>
        </div>
    </form>


</body>

</html>